    .history-book-ticket {
        width: 2000px;
        height: 200px;
    }

    .modal-history-booking {
        position: absolute;
        top: -40%;
        left: 25%;
        background-color: #fff;
        outline: none;
        margin-top: 500px;
        padding: 16px 32px;
        border-radius: 8px;
        overflow-y: auto;

        .title {
            font-weight: 600 !important;
            margin-bottom: 8px;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.167;
            letter-spacing: -0.01562em;
            border-bottom: 1px solid #00000069;
            min-height: 50px;
        }

        .list-ticket {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .item-ticket {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 20px;
                background-color: #80808030;
                padding: 12px;
                border-radius: 4px;

                .date {
                    color: rgba(0, 0, 0, 0.87);
                    font-weight: 550;
                }

                .name-movie {
                    color: red;
                }

                .rap {
                    color: green;
                }

                .list-seat {
                    display: flex;
                    gap: 5px;
                }
            }
        }
    }