.container {
    display: grid;
    grid-template-areas:
        "aa  bb dd"
        "aa  cc ee "
    ;
    padding: 0 30px;
    gap: 10px;

    .item {
        background-color: gold;
        border: 1px solid grey;
        &.item-1 {
            grid-area: aa;

        }

        &.item-2 {
            grid-area: bb;

        }

        &.item-3 {
            grid-area: cc;

        }

        &.item-4 {
            grid-area: dd;
        }

        &.item-5 {
            grid-area: ee;

        }
    }
}