.review-infor {
    margin-bottom: 500px;

    .list-info {
        display: flex;
        justify-content: center;
        gap: 80px;

        .item-info {
            color: black;
            font-size: 20px;
            transition: all .4s;
            line-height: 24px;
            text-transform: unset;

            &:hover {
                cursor: pointer;
                font-size: 22px;
            }
        }
    }

    .list-review-infor {
        background-color: green;
        max-width: 960px;
        margin: auto;
        // overflow: hidden;
        margin-top: 16px;
        display: grid;
        grid-template-areas:
            "aa aa bb bb"
            "cc dd ee ee"
        ;

        .list-item {

            &.list-item:nth-child(1) {
                grid-area: aa;
                background-color: red;

                .item-image {
                    img {
                        max-width: 448px;
                        max-height: 248px;
                    }
                }
            }

            &.list-item:nth-child(2) {
                grid-area: bb;
                background-color: orange;

                .item-image {
                    img {
                        max-width: 448px;
                        max-height: 248px;
                    }
                }
            }

            &.list-item:nth-child(3) {
                grid-area: cc;
                background-color: aliceblue;
            }

            &.list-item:nth-child(4) {
                grid-area: dd;
                background-color: aqua;
            }

            &.list-review-child {
                grid-area: ee;
                background-color: blanchedalmond;
            }
        }



    }

    .btn-button-show {
        margin-top: 100px;
        margin-left: 800px;
        margin-bottom: 100px;
    }




}